.hero-section{

padding-top: 70px ;
width: 100%;
height: 85vh;
background-color: rgba(0, 67, 70, 0.57);
display: flex;
}
.hero-content{
    width: 70vw;
    
    height: 100%;
    

}
.hero-banner{
    width: 30vw;
    height: 100%;
    
}
.hero-banner img{
    width: 100%;
    height: 100%;
   
}
.hero-content h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 55px;
    display: flex;
   
       
}
.hero-content p{
    vertical-align: text-bottom;

font-weight: 400;
font-size: 18px;
line-height: 35px;
letter-spacing: 0.030em;

color: #312F2D;
}

.hero-text{

width: 45vw;
margin: auto;

}
.hero-title{
margin: auto;
margin-bottom: 25px;
width: 45vw;
margin-top: 12vh;
}


/* search input  */
.search-form{
    margin: 25px auto;

    width: 65%;
    height: 60px;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    border-radius: 65px;
}
.search-input{
 outline: none;
 border: none;
 flex: 1;
 background-color: transparent;
 padding: 10px 8%;
}
.search-btn{
    /* outline: none; */
    /* border: 1px solid gray; */
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #292929;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 5px;
    margin-right: 15px;
}

/* second-section */
.second-section{
text-align: center;
width: 70vw;
margin: 75px auto;
}
.second-section-title h1{
    font-size: 45px;
    margin-bottom: 25px;

}
.second-section-title {
   
   margin-bottom: 55px;
   color: #5D534A;

}
.second-section-title p{
    font-size: 15px;
    margin-bottom: 15px;
    padding: 0px 30%;

}
.second-section-items{
    display: flex;
    justify-content: center;
    color: #878987;
}
.second-section-items h1{
    font-size: 35px;
    line-height: 40px;
    margin-right: 5px;
}
.second-section-items p{
    font-size: 15px;
    line-height: 20px;
}
.second-section-item{
display: flex;
text-align: start;
margin-right: 70px;
}


/* 3rd section style  */
.third-section{
    padding: 25px 0px;
    width: 100%;
    height: 750px;
    background-color: #fcf8f8;
    text-align: center;
}
.third-section-title{
  
    margin: 50px 5px;
}
.third-section-title h1{
    font-size:45px ;
    margin: 25px 0px;
    color: #5D534A;
}
.third-section-title p{
    font-size:18px ;
    margin-bottom: 35px;
    color: #5D534A;
}
.third-section-content h3{
    font-size: 20px;
    color: #878987;
}
.third-section-content p{
    font-size: 20px;
    color: #353A40;
    letter-spacing: 0.08em;
}
.third-section-items{
    
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 25px 150px;
}
.third-section-icon{
    font-size: 45px;
    color: #878987;
    background-color: #E9E9E9;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 90px;
    margin-top: -45px;
    
}
.third-section-icon i{

   margin-top: 22%;

}
.third-section-item{
    
    background-color: #D3E0DC;
    border: 1px solid rgba(0, 0, 0, 0.57);
    border-radius: 15px;    
    height: 400px;
    width: 350px;
    margin: 0 50px;
    padding: 0px 55px;
}
.third-section-content{
    margin-top: 85px;
}

@media screen and (max-width: 992px) {
    .hero-section{
        width: 100vw;
        height: 85vh;
        background-color: rgba(0, 67, 70, 0.57);
       
        }
        .hero-content{
            width: 100%;
        }
        .hero-banner{
            display: none;
        }
        .hero-text{

            width: 100vw;
            margin: auto;
            padding: 5%;
            
            }
            .hero-title{
            margin: auto;
            
            width: 85vw;
            margin-top: 12vh;
            }

  }
